
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/LoginAction">
            Tai khoan: <input type="text" name="username" /><bt />
            MK: <input type="password" name="pwd" /><br />
            <input type="submit" value="Dang nhap" />
        </form>
    </div>
</body>
</html>